#container {
  display: flex;
  position: relative;
  min-width: 93vw;
  min-height: 82vh;
  border: 2px solid #fff;
  margin-top: 10em;
  margin-left: 7em;
  margin-right: 4em;
  margin-bottom: 1em;
  box-shadow: 0 0px 20px #fff, 0 0 9px #fff;
  border-radius: 15px;
}
