<form class="example-form" [formGroup]="passwordForm">
  <div class="grid-container">
    <div class="grid-item">
      <mat-form-field class="medium-field" appearance="outline" color="accent">
        <mat-label>Old Password</mat-label>
        <input matInput type="text" name="oldPassword" formControlName="oldPassword" />
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field class="medium-field" appearance="outline" color="accent">
        <mat-label>New Password</mat-label>
        <input matInput type="text" name="newPassword" formControlName="newPassword" />
      </mat-form-field>
    </div>


    <div class="grid-item">
      <mat-form-field class="medium-field" appearance="outline" color="accent">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="text" name="currentPassword" formControlName="confirmPassword" />
      </mat-form-field>
    </div>
  </div>
  <form>
<div class="button-container">
  <button mat-flat-button color="primary" class="button save">save</button>
</div>
