mat-card{
  display:flex;
  flex-direction: column;
}

mat-card-header {
  flex-shrink: 0;
}

mat-card-content{
  flex-grow: 1;
  overflow: auto;
}

mat-card-footer {
  display: flex;
  justify-content: space-between;
  margin: 10em 1em 1em;
}

#price {
  font-size: 1.1rem;
  align-self: center;
}

app-container {
  margin-top: 2em;
  padding: 2em;
}
