#container {
  padding-top:2em;
  height: 100%;
  width: 30em;
}

li {
  display: block;
  color: #f0edee;
  margin-bottom: 2em;
}

a {
  font-family: bayon;
  font-size: 2em;
  color: #f0edee;
  display: block;
  text-decoration: none;
}

a:hover {
  color: #00B3B3;
}

a:hover span {
  visibility: visible;
}

span {
  visibility: hidden;
}
