.icon-bar {
  z-index: 2;
  min-width: 30px;
  min-height: 100vh;
  background-color: #0A090C;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: fixed;
  top: 0;
  left: 0;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px 18px 0px 18px;
  transition: all 0.3s ease;
  color: white;
  font-size: 2em;
  text-decoration: none;
}

.icon-bar a:hover {
  color: #00B3B3;
}

.logout-link {
  transform: scaleY(-1);
  color: white;
  text-decoration: none;
  margin-top: auto;
}
