<div class="icon-bar">

  <div *ngIf="role == 'unregistered'">
    <a [ngClass]="{'active': activeLink == 'home' }" (click)="onHomeClick()"><i class="cil-home"></i></a>
    <a [ngClass]="{'active': activeLink == 'search' }" href="#"><i class="cil-search"></i></a>
    <a [ngClass]="{'active': activeLink == 'notifications' }" href="#"><i class="cil-bell"></i></a>
    <a [ngClass]="{'active': activeLink == 'favorites' }" href="#"><i class="cil-heart"></i></a>
    <a [ngClass]="{'active': activeLink == 'profile' }" (click)="onAccountClick()"><i class="at-account"></i></a>
  </div>

  <div *ngIf="role == 'guest'">
    <a [ngClass]="{'active': activeLink == 'home' }" (click)="onHomeClick()"><i class="cil-home"></i></a>
    <a [ngClass]="{'active': activeLink == 'search' }" href="#"><i class="cil-search"></i></a>
    <a [ngClass]="{'active': activeLink == 'notifications' }" href="#"><i class="cil-bell"></i></a>
    <a [ngClass]="{'active': activeLink == 'favorites' }" href="#"><i class="cil-heart"></i></a>
    <a [ngClass]="{'active': activeLink == 'profile' }" (click)="onAccountClick()" href="#"><i class="at-account"></i></a>
    <a (click)="onAccountClick()"><i class="cil-check"></i></a>
  </div>

  <div *ngIf="role == 'host'">
    <a [ngClass]="{'active': activeLink == 'home'}" (click)="onHomeClick()"><i class="cil-home"></i></a>
    <a [ngClass]="{'active': activeLink == 'new-property' }" href="#"><i class="cil-plus"></i></a>
    <a [ngClass]="{'active': activeLink == 'my-properties' }" href="#"><i class="cil-folder"></i></a>
    <a [ngClass]="{'active': activeLink == 'list-properties' }" href="#"><i class="cil-list-filter"></i></a>
    <a [ngClass]="{'active': activeLink == 'check' }" href="#"><i class="cil-check"></i></a>
    <a [ngClass]="{'active': activeLink == 'notifications' }" href="#"><i class="cil-bell"></i></a>
    <a [ngClass]="{'active': activeLink == 'favorites' }" href="#"><i class="cil-heart"></i></a>
    <a [ngClass]="{'active': activeLink == 'reports' }" href="#"><i class="cil-fax"></i></a>
    <a [ngClass]="{'active': activeLink == 'profile' }" (click)="onAccountClick()"><i class="at-account"></i></a>
  </div>

  <div *ngIf="role == 'admin'">
    <a [ngClass]="{'active': activeLink == 'home' }" (click)="onHomeClick()"><i class="cil-home"></i></a>
    <a [ngClass]="{'active': activeLink == 'book' }" href="#"><i class="cil-book"></i></a>
    <a [ngClass]="{'active': activeLink == 'comments-and-grades' }" href="#"><i class="cil-comment-square"></i></a>
    <a [ngClass]="{'active': activeLink == 'list-properties' }" href="#"><i class="cil-list-filter"></i></a>
    <a [ngClass]="{'active': activeLink == 'accounts' }" href="#"><i class="cil-globe-alt"></i></a>
    <a [ngClass]="{'active': activeLink == 'profile' }" (click)="onAccountClick()"><i class="at-account"></i></a>

  <a [ngClass]="{'active': activeLink == 'logout' }" class="logout-link" (click)="onLogoutClick()"><i class="cil-account-logout"></i></a>
</div>

