/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@coreui/icons/css/free.css";
@import "../node_modules/@vectopus/atlas-icons/style.css";

@font-face {
  font-family: 'bayon';
  src: url('./assets/fonts/bayon.ttf') format('truetype');
}

body {
  background-color: #1e1e1e;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.backgroundImage {
  background-image: url("../src/assets/earth.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
