/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'bayon';
  src: url('./assets/fonts/bayon.ttf') format('truetype');
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a090c;
  color: #f0edee;
  overflow: hidden;
}
